* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #172321;
  }

  @font-face {
    font-family: "Bubblegum";
    src: url(/Fonts/Bubblegum.ttf);
  }
/*text content*/
h1 {
  font-family: "Bubblegum";
  color: #14322F;
  font-size: 25px;
  letter-spacing: 3px;
}
.ProDialog {
  color: #F9B938;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #DDD245;
  font-size: 20px;
  font-style: italic;
}
h3 {
  font-family: 'Times New Roman', Times, serif;
  color: #14322F;
  font-size: 20px;
  font-weight: bolder;
}
h4 {
  font-family: 'Times New Roman', Times, serif;
  color: #14322F;
  font-size: 100%;
  font-weight: bolder;
}
.contact {
  color: #27F2B3;
  font-style: normal;
  font-weight: bold;
}
.hint {
  font-family: 'Times New Roman', Times, serif;
  color: #F9B938;
  font-weight: bold;
  font-size: 17px;
}
.quote {
  font-family: 'Times New Roman', Times, serif;
  color: #27F2B3;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
}
.defRef {
  font-family: 'Times New Roman', Times, serif;
  color: #14322F;
  font-style: italic;
  font-weight: bold;
  font-size: 17px; 
}
.def {
  font-family: 'Times New Roman', Times, serif;
  color: #14322F;
  font-size: 19px;
}

/*App Navigation*/
  .view {
    display: grid;
    column-gap: 15px;
    row-gap: 1px;
    background-color: #172321;
    padding: 0px;
    justify-content: center;
  }
  
  .grid-item {
    align-items: center;
    align-content: center;

  }
  .item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    scale: 80%;
  }
  
  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2; 
    scale: 80%;
  }

  .item3 {
    grid-column: 2;
    grid-row: 1 /span 3;
  }
  .item4 {
    grid-column: 1;
    grid-row: 3 / span 2;
    scale: 80%;
  }
  .item5 {
    grid-column: 2;
    grid-row: 3 / span 2;
    text-align: center;
  }
 .item6 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    width: 80%;
    height: 100%;
  } 
  .item7 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    scale: 80%;
  } 
  .pocessImg {
    padding: 6px;
  }
  .Cog {
    margin: 5% 30%;
    width: 30%;
  }
/*Transitions and Animations*/
.navbutton {
  transition: all 3s ease-out;
}
.Open, .PC {
  transition: all 2s ease-out;
}
.Open:hover {
  transform: scale(1.1) translateY(20px);
}

.navbutton:hover {
  transform: scale(1.1) rotate(360deg) translateY(20px);
}

.PC:hover {
  transform: scale(1.1) translateY(20px);
}


/*Dialog Stylings*/
sl-dialog.ExamplesGallery::part(panel) {
  background-color: #DDD245;
}
sl-dialog.CreativityDefinition::part(panel) {
background-color: #F9B938;
}
sl-dialog.CrThDefinition::part(panel) {
  background-color: #F9B938;
}
sl-dialog.PrSoDefinition::part(panel) {
  background-color: #F9B938;
}
sl-dialog.CreativityFunFacts::part(panel) {
  background-color: #27F2B3;
}
sl-dialog.CreativeThinkingFunFacts::part(panel) {
  background-color: #27F2B3;
}
sl-dialog.ProblemSolvingFunFacts::part(panel) {
  background-color: #27F2B3;
}
sl-dialog.CreativeThinkingHintsTips::part(panel) {
  background-color: #27F2B3;
}
sl-dialog.ProblemSolvingHintsTips::part(panel) {
  background-color: #27F2B3;
}
sl-dialog.CreativityProcesses::part(panel) {
  background-color: #172321;
}
sl-dialog.CreativityProcesses::part(header) {
  height: 28px;
}
sl-dialog.CreativeThinkingProcesses::part(panel) {
  background-color: #172321;
}
sl-dialog.CreativeThinkingProcesses::part(header) {
  height: 28px;
}
sl-dialog.ProblemSolvingProcesses::part(panel) {
    background-color: #172321;
}
sl-dialog.ProblemSolvingProcesses::part(header) {
    height: 28px;
}

/*Carousel Stylings*/
sl-dialog.PromptsChallenges::part(panel) {
  background-color: #DDD245; 
}
sl-button.Open::part(base) {
  border-color: #172321;
  background-color: #172321;
}
sl-button.Open2::part(base) {
  border-color: #DDD245;
  background-color: #DDD245;
}

sl-carousel.PC::part(base) {
  background-color: #DDD245;
  padding: 3px;
}
sl-carousel.carousel-thumbnails::part(base) {
  background-color: #27F2B3;
  padding-bottom: 3px; 
}
/*Tooltip Stylings*/
sl-tooltip::part(body) {
  background-color: #F9B938;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #14322F;
}
sl-button.Open::part(base) {
  border-color: #172321;
  background-color: #172321;
}
/*Scrolling*/
svg {
  position: fixed;
  top: 55%;
  left: 60%;
  margin-top: -50px;
  margin-left: -50px;
  width: 30%;

  animation: rotate 4s linear infinite;
  animation-play-state: running;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height: 500vh;
}